// color site
$color-black: #121214;
$color-dark: #000;
$color-white: #ffffff;
$color-blue: #0033ff;
$color-blue-hover: #002ad1;
$color-gray: #a6a8ad;
$color-dark-grey: #767676;
$color-dark-white: #f8f8f8;
$color-dark-white-hover: #bdbdbd;

// radius
$button-blue-radius: 0.8rem;
$circle: 50%;
